.navbar{
  background-color: #0184A9;
  height: 100px;
}

.navbar .nav-link {
  color: #ffffff;
}


.navbar .nav-link:hover {
  color: #E3FCF9;
}

.text-list-footer:hover {
    text-decoration: underline;
  }

.btn-ingresar{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: #0184A9;
}

.btnoff-ingresar {
  background-color: #0184A9; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 6px 12px; /* Espaciado interior (más pequeño) */
  border-radius: 20px; /* Bordes redondeados */
  text-decoration: none; /* Quitar subrayado */
  display: inline-flex; /* No ocupar todo el espacio, solo lo necesario */
  justify-content: center; /* Centrar el contenido (texto e ícono) */
  align-items: center; /* Alinear verticalmente el texto y el ícono */
}

.btnoff-ingresar box-icon {
  margin-left: 6px; /* Espacio entre el texto y el ícono */
}
  

.fotos img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

figure {
  text-align: center;
  margin: 20px;
}

.fila {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
}

.miembros {
  padding: 40px 20px;
}

.subtitulos-finales {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

.rol {
  color: #666;
  font-style: italic;
  font-size: 14px;
}


  footer{
    background-color: #0184A9;
    color: rgb(255, 255, 255);
  }

  .enlaces-footer a {
    color: #ffffff; /* verde por ejemplo */
    text-decoration: none; /* quita subrayado si quieres */
  }

  .referencias a{
    color: #ffffff;
    text-decoration: none; /* quita subrayado si quieres */
  }

  .btn-Contactenos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

.btn-contact{
    background-color: #0184A9;
    padding: 12px 24px;
    border-radius:410px;
    border: none;
    color: white;
}

.btn-contact:hover{
    background-color: #E3FCF9;
    color:#0184A9;
    border: 1px solid #0184A9;
}
