<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p>Aqui se mostraran los productos</p>
        </div>

         <!-- Total y botones -->
         <div class="d-flex justify-content-between" style="padding: 40px;">
            <strong>Total:</strong>
            <span id="totalCarrito">$0.00</span>
        </div>
        <hr>
        <div class="d-flex" style="padding: 20px; gap: 20px">
            <button class="btn btn-primary w-50" onclick="realizarCompra()">Realizar Compra</button>
            <button class="btn btn-primary w-50" onclick="realizarCompra()">Cancelar Compra</button>    
        </div>
    </div>
</div>
