/*IMPORTAR FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Montserrat&family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Joti+One&family=Knewave&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Fredoka:wght@300..700&family=Joti+One&family=Knewave&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Slackey&display=swap');

body {
  background-image: url(../assets/images/fondo-tr.svg);  
  background-size:  cover;
  background-repeat: no-repeat;
  justify-content: center;
}

/* Formulario */
.container .form-container{
  display: flex;
  justify-content: center;
}
.form-container .card{
  background-color: #DCEFED;
  border: none;
  border-radius:30px;
  color: #02537D;
  max-width:700px;
  margin:40px;
}
.card .card-body{
  padding:30px;
}
.text-start .form-label{
  font-family:'Fredoka',sans-serif ;
}

.form-control{
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #00000032 inset ;
}
.form-container{
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
}
#bluet{
  margin:40px;
}
#bluet img{
  width:30vw;
}
.form-check-input{
  box-shadow: 1px 1px 2px #00000032 inset;
}

.text-center .btn{
  background-color: #01BFC4;
  border:0;
  width:200px;
}
.swal2-popup{
  font-family: fredoka;
  color: #02537D;
  background-color: #DCEFED;
  border-radius: 30px;;
}
.swal2-popup button{
  font-family: fredoka;
  color: #DCEFED;
  background-color: #01BFC4;
  border-radius: 30px;;
}
/* Seccion preguntas frecuentes*/ 
.container {
  font-family: "Fredoka";
 color: #02537D;
}
@media screen and (max-width: 945px) {
  .form-container{
    flex-direction: column;
  }

  #bluet {
    order: 2; /* Asegura que va después de .card-body */
  }

  .card-body {
    order: 1;
  }
}