/*IMPORTAR FUENTES*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Montserrat&family=Nunito:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Joti+One&family=Knewave&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Fredoka:wght@300..700&family=Joti+One&family=Knewave&family=Merienda:wght@300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+DE+Grund:wght@100..400&family=Slackey&display=swap");

/*ESTILO GENERAL*/
body {
  padding: 0;
  margin: 0;
  background-color: #e3fcf9;
  font-family: "Montserrat", sans-serif !important;
  color: #000000;
  font-size: 16px;
  font-weight: 900;
}

/*-------------------------- CSS de la alerta -----------------------*/
.mi-popup {
  background-color: #DCEFED;
  border: 2px solid #02537D;
  border-radius: 15px;
}
.mi-titulo {
  font-family: 'Fredoka', sans-serif !important;
  font-size: 24px;
  color: #02537D;
}
.mi-subtitulo {
  font-family: 'Nunito', sans-serif !important;
  font-size: 16px;
  color: #02537D;
}
.mi-boton {
  background-color: #01BFC4 !important;
  color: #fff !important;
  border-radius: 10px;
  padding: 8px 20px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif !important;
}
