.navbar {
    background-color: #0184a9;
    height: 100px;
  }
  
  .navbar .nav-link {
    color: #ffffff;
  }
  
  .navbar .nav-link:hover {
    color: #e3fcf9;
  }
  
  .text-list-footer:hover {
    text-decoration: underline;
  }
  
